html
  head
    title Add Movie
    link(href="https://fonts.googleapis.com/css2?family=Roboto&family=Secular+One&display=swap" rel="stylesheet")
    link(rel="stylesheet" href="/css/style.css")
  body
    .row
      h1.MDBHeader Movie DataBase
    .row
      h1.header Add Person to DataBase
    #addMovie
      h2.header Person Name
      br
      input#personName.textbox(type="text" placeholder="Person Name")

      br
      br
      button#submitButton Submit

    script(src="/scripts/add_person.js")